@import "tailwindcss";

@theme {
  --animate-fade-in-scale: fade-in-scale 5s linear infinite;
  @keyframes fade-in-scale {
  0% {
      background-position: -800px 0px
    }
    100% {
      background-position: 800px 0px
    }
  }
}

/* Hide scrollbar from Chrome,Safari and Opera */

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}


